<div class="app-container">
  <!-- ハンバーガーメニュー -->
  <div class="hamburger-menu">
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="menu-button">
      <span class="menu-icon"></span>
    </label>
    <div class="menu-content">
      <ul class="menu-list">
        <li class="menu-item"><a href="#" (click)="navigateTo('nursing-report')">訪問看護報告書</a></li>
        <li class="menu-item"><a href="#" (click)="navigateTo('medical-report')">現在開発中</a></li>
        <li class="menu-item"><a href="#" (click)="navigateTo('care-report')">現在開発中</a></li>
        <li class="menu-item"><a href="#" (click)="navigateTo('settings')">設定（現在開発中）</a></li>
      </ul>
    </div>
  </div>

  <!-- メインコンテンツ -->
  <div class="main-content">
    <h1 class="app-title">訪問看護報告書システム</h1>
    <router-outlet></router-outlet>
  </div>
</div>
